h2 {
  text-align: center;
  font-size: 64;
  font-weight: 900;
  color: coral;
  background-color: rgba(177, 142, 142, 0.336);
  padding: 10px 0;
}

.blogs {
  display: inline-block;
  background-color: rgba(180, 170, 76, 0.733);
  padding: 20px;
  margin-bottom: 10px;
  border-top: 30px solid salmon;
  border-radius: 5%;
  width: 29%;
  margin: 5px;
}

.fruits {
  background-color: burlywood;
  padding: 20px;
}

.fruits img {
  width: 30%;
  margin: 5px;
  height: 400px;
}